---
import BaseLayout from "@src/layouts/BaseLayout.astro";
import PostsByYear from "@src/components/PostsByYear.astro";
import { unslugify } from "@src/utils/slugify";
import { getAllBlogPosts, getAllTags, getPostsForTag } from "@src/utils/blog";

export const getStaticPaths = async () => {
  const tags = getAllTags(await getAllBlogPosts());
  return tags.map((tag) => ({ params: { tag: tag.slug } }));
};

const { tag } = Astro.params;
const allPosts = await getAllBlogPosts();
const taggedPosts = getPostsForTag(allPosts, tag || "");
const totalCount = taggedPosts.length;
const titleText = `${totalCount} ${totalCount === 1 ? "post" : "posts"} in `; // leading space is intentional.
const tagText = unslugify(tag || "");
const title = titleText + tagText;
const description = titleText + tagText;
---

<BaseLayout title={title} description={description}>
  <div class="container">
    <div class="mb-8 flex justify-between gap-2">
      <h2 class="mb-2 text-2xl font-bold">
        {titleText}<span class="italic">{tagText}</span>
      </h2>
      <a href="/tags/" class="inline-block px-5 text-zinc-600 italic"
        >Tags &raquo;
      </a>
    </div>
    <PostsByYear posts={taggedPosts} />
  </div>
</BaseLayout>
