---
import BaseLayout from "@src/layouts/BaseLayout.astro";
import TagPill from "@src/components/TagPill.astro";
import {
  getAllBlogPosts,
  getAllTags,
  groupTagsByFirstLetter,
} from "@src/utils/blog";

const groupedTags = groupTagsByFirstLetter(getAllTags(await getAllBlogPosts()));
const title = `Posts Tags`;
---

<BaseLayout title={title}>
  <div class="container">
    <div class="mb-10">
      <h2 class="mb-2 text-2xl font-bold">{title}</h2>
    </div>
    <div>
      {
        groupedTags.map(({ letter, tags }) => (
          <div class="mb-8 flex gap-2 capitalize">
            <h2 class="w-7 shrink-0 text-2xl font-bold text-zinc-800">
              {letter}
            </h2>
            <div class="flex flex-wrap gap-2">
              {tags.map((tag) => (
                <TagPill tag={tag.label} count={tag.postCount} size="lg" />
              ))}
            </div>
          </div>
        ))
      }
    </div>
  </div>
</BaseLayout>
