---
import FormatDate from "./FormatDate.astro";
import TagPill from "@src/components/TagPill.astro";
import { getPostHref, getReadingTime, type BlogPost } from "@src/utils/blog";

interface Props {
  post: BlogPost;
}

const { post } = Astro.props;
const minutesRead = getReadingTime(post);
---

<h3 class="py-2 text-lg font-medium">
  <a href={getPostHref(post)}>
    {post.data.title}
  </a>
</h3>
<p class="text-zinc-600">{post.data.description}</p>
<div class="mb-1 flex flex-col gap-2 border-b py-2 sm:flex-row sm:items-center">
  <div class="shrink-0 text-xs text-zinc-600">
    <FormatDate date={post.data.date} /> • {minutesRead}
  </div>
  <div class="flex shrink-0 gap-2 capitalize">
    {(post.data.tags || []).map((tag) => <TagPill tag={tag} />)}
  </div>
</div>
